body {
    text-align: center;
    font-family: "Arial", sans-serif;
    background: url('assets/moroccan-medina.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

canvas {
   canvas {
    background: url('assets/moroccan-street.jpg') no-repeat center center;
    background-size: cover;
}
