body {
    text-align: center;
    font-family: "Arial", sans-serif;
    background: url('assets/moroccan-street.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

canvas {
    background: url('assets/moroccan-street.png') no-repeat center center;
    background-size: cover;
}

